GARMIN_EMAIL=tu_email@ejemplo.com
GARMIN_PASSWORD=tu_password_de_garmin
WP_FIREBASE_PROJECT_ID=
WP_FIREBASE_CLIENT_EMAIL=
WP_FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FERNANDA_UID=
