TELEGRAM_TOKEN=tu_token_de_telegram
CLAUDE_API_KEY=sk-ant-...
FERNANDA_CHAT_ID=tu_chat_id_de_telegram
FIREBASE_PROJECT_ID=semana-perfecta
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@semana-perfecta.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
